@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Primary Colors */
  --color-primary-teal: #14D2BA;
  --color-primary-darkblue: #10243F;
  --color-primary-white: #FFFFFF;

  /* Background Colors */
  --bg-dark: #10243F;
  --bg-light: #FFFFFF;

  /* Text Colors */
  --text-dark: #10243F;
  --text-light: #FFFFFF;

  /* Borders */
  --color-border-line: rgba(20, 210, 186, 0.2);

  --font-montserrat: "Montserrat", "sans-serif";
  --font-audiowide: "Audiowide", "sans-serif";
  --font-orbitron: "Orbitron", "monospace";
  --font-poppins: "Poppins", "sans-serif";
}

:root {
  --background: #FFFFFF;
  --foreground: #10243F;
  --card: #FFFFFF;
  --card-foreground: #10243F;
  --popover: #FFFFFF;
  --popover-foreground: #10243F;
  --primary: #14D2BA;
  --primary-foreground: #FFFFFF;
  --secondary: #10243F;
  --secondary-foreground: #FFFFFF;
  --muted: rgba(20, 210, 186, 0.1);
  --muted-foreground: rgba(16, 36, 63, 0.7);
  --accent: rgba(20, 210, 186, 0.2);
  --accent-foreground: #10243F;
  --destructive: #ff4d4f;
  --destructive-foreground: #FFFFFF;
  --border: rgba(16, 36, 63, 0.1);
  --input: rgba(20, 210, 186, 0.3);
  --ring: #14D2BA;
  --chart-1: #14D2BA;
  --chart-2: #10243F;
  --chart-3: #36E2CB;
  --chart-4: #0C1A30;
  --chart-5: #7AEADE;
  --radius: 0.625rem;
  --sidebar: #10243F;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #14D2BA;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: rgba(20, 210, 186, 0.2);
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #14D2BA;
}

.dark {
  --background: #10243F;
  --foreground: #FFFFFF;
  --card: #0C1A30;
  --card-foreground: #FFFFFF;
  --popover: #0C1A30;
  --popover-foreground: #FFFFFF;
  --primary: #14D2BA;
  --primary-foreground: #FFFFFF;
  --secondary: #0C1A30;
  --secondary-foreground: #FFFFFF;
  --muted: rgba(20, 210, 186, 0.1);
  --muted-foreground: rgba(255, 255, 255, 0.7);
  --accent: rgba(20, 210, 186, 0.2);
  --accent-foreground: #FFFFFF;
  --destructive: #ff4d4f;
  --destructive-foreground: #FFFFFF;
  --border: rgba(255, 255, 255, 0.05);
  --input: rgba(20, 210, 186, 0.2);
  --ring: #14D2BA;
  --chart-1: #14D2BA;
  --chart-2: #FFFFFF;
  --chart-3: #36E2CB;
  --chart-4: #7AEADE;
  --chart-5: #0C1A30;
  --sidebar: #0C1A30;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #14D2BA;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: rgba(20, 210, 186, 0.2);
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: rgba(20, 210, 186, 0.1);
  --sidebar-ring: #14D2BA;
}

@layer utilities {

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold text-white leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .body-bold {
    @apply text-[14px] font-bold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px];
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #14D2BA 0%, #36E2CB 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(12, 26, 48, 0.41) 0%,
      rgba(16, 36, 63, 0.7) 100%
    );
  }

  .light-gradient {
    background: linear-gradient(
      132deg,
      rgba(247, 249, 255, 0.5) 0%,
      rgba(229, 237, 255, 0.25) 100%
    );
  }

  .primary-text-gradient {
    background: linear-gradient(129deg, #14D2BA 0%, #36E2CB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(12, 26, 48, 0.41) 0%,
      rgba(16, 36, 63, 0.7) 100%
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
